@charset "UTF-8";

body {
    background-color: rgb(198, 244, 184);
    font-family: Arial, Helvetica, sans-serif;
}

#principal {
    text-align: center;
    background-color: rgb(32, 117, 6);
    color: white;
}
h1 {
    color: rgb(32, 117, 6);
}

h2 {
    color: rgb(63, 109, 49);
}

.basico {
    color: green;
    font-weight: bold;
}

.intermediario {
    color: yellow;
}

.avancado {
    color: red;
}

.destaque {
    background-color: rgba(255, 255, 0, 0.488);
}